.pre-body {
    display: flex;
    width: 100%;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    flex: none;
    width: 80%;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.part1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px;
    gap: 25px;
    min-width: 500px;
    min-height: 120.97px;
    background: #FFFFFF;
    border-radius: 15px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.img {
    width: 250px;
    height: 250px;
    background: url("https://www.simplyrecipes.com/thmb/4rVYqq80fd-kHTx25yKtd8bvHzA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Simply-Pasta-Carbonara-LEAD-4-3c433b3057e7465b8738b43de762df06.jpg");
    background-size: cover;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 915px;
    height: 250px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.info-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    margin: 0 auto;
    width: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.info-1 > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titre-et-sous-titre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    margin: 0 auto;
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.titre-et-sous-titre h1 {
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    color: #141414;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.titre-et-sous-titre h4 {
    width: 132px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #868686;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.titre-et-sous-titre h4 span {
    font-style: oblique;
    color: #000000;
}

.info-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    margin: 0 auto;
    width: 100%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.info-2 h6 {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: start;
    text-transform: uppercase;
    color: #2B2B2B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info-2 p {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8E8E93;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.info-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.info-3 .col {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info-3 .col > div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bubble {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px 2px 8px;
    gap: 5px;
    background: #CACACA;
    border-radius: 999px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bubble span {
    font-size: 18px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bubble p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #2B2B2B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;
    width: 100%;
    background: #FFB700;
    border-radius: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.button span {
    font-size: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button p {
    width: 150px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #2B2B2B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.part2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 100%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.part2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 25px;
    max-width: 500px;
    width: 40%;
    min-width: 300px;
    background: #FFFFFF;
    border-radius: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
    width: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titre span {
    font-size: 36px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.titre h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2B2B2B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.separateur {
    width: 60%;
    height: 1px;
    background: #CACACA;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.liste {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.liste .liste-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.liste .liste-element span {
    font-size: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 30px;
}

.liste .liste-element p {
    width: calc(100% - 30px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.liste .liste-element p.enumeration {
    width: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #868686;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.part2-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 25px;
    width: fit-content;
    min-width: 500px;
    background: #FFFFFF;
    border-radius: 15px;
    order: 1;
    flex-grow: 1;
}