/** -------------------------------------
             MENU
--------------------------------------**/

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.menu .header h1 {
    color: var(--Black, #141414);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: oblique;
    font-weight: 800;
    line-height: normal;
}

.menu .header h1 > span {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--Main, #FFB700);
    text-decoration-thickness: 20%;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.menu .research-zone .research-bar {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 15px;
}

.menu .research-zone .research-bar span {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    color: var(--Gray, #868686);
}

.menu .research-zone .research-bar form input {
    border: none;
    color: var(--Gray, #868686);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 336px;
}

.menu .research-zone .research-bar form input:focus {
    outline: none;
}

.menu .research-zone {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu .research-zone .indications {
    color: var(--Gray, #868686);
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu .research-zone .indications span {
    font-style: oblique;
}

.menu .filters {
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.menu .filters .filter {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 999px;
    background: var(--Light-Gray, #CACACA);
}

/** -------------------------------------
             RECETTES
--------------------------------------**/

.recipe-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 250px;
}

.recipe-grid .recipe {
    background: #fff;
    border-radius: 15px;
}

.recipe {
    display: flex;
    flex-direction: row;
    padding: 25px;
    gap: 25px;
}

.recipe-grid .recipe .photo {
    width: 200px;
    align-self: stretch;
    border-radius: 10px;
    background-image: url("https://img.freepik.com/psd-gratuit/illustration-forme-carree-3d-geometrique-degrade_47987-7627.jpg");
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.informations .up {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.informations .up .titleandauthor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
}

.informations .up .titleandauthor .title {
    color: var(--Black, #141414);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    align-self: stretch;
}

.informations .up .titleandauthor .author {
    color: var(--Gray, #868686);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.informations .up .titleandauthor .author span {
    color: var(--Black, #141414);
    font-family: Inter;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.informations .up .time {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: var(--Extra-Small-Radius, 2px);
    background: var(--Light, #E7E7E7);
}

.informations .down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.informations .down .categories {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.informations .down .categories .categorie {
    display: flex;
    padding: 2px 10px 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: var(--Round-Radius, 999px);
    background: var(--Light-Gray, #CACACA);
}

.informations .down .categories .categorie-plus {
    display: flex;
    padding: 2px 10px 2px 8px;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: var(--Round-Radius, 999px);
    background: var(--Light, #E7E7E7);
}

.informations .down .buttons {
    display: flex;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.informations .down .buttons .button-recipe {
    display: flex;
    padding: 5px 15px;
    align-items: center;
    gap: 10px;
    border-radius: var(--Small-Radius, 5px);
    background: var(--Main, #FFB700);
}

.informations .down .buttons .like {
    display: flex;
    align-items: center;
    gap: 5px;
}